@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(252, 252, 252, 0.8);
}

::-webkit-scrollbar-track {
  background-color: #60a5fa
  ;
}